.git
.gitignore
.gitattributes
.env
.env.example
.editorconfig
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.result.cache
phpunit.xml
.DS_Store
Thumbs.db
*.md
!README.md
.vscode
.idea
docker-compose.yml
Dockerfile
.dockerignore
